--extra-index-url https://download.pytorch.org/whl/cu132
torch==2.12.1+cu132
torchvision==0.27.1+cu132
flask
flasgger
gdown
python-dotenv
openai
diffusers
transformers
accelerate
timm
numpy
pillow
opencv-python
